@import 'src/styles/vars';
@import 'src/styles/typography';

.list {
  min-width: 200px;
  padding: 16px 32px 16px 24px;
  border-radius: 8px;
  background: $whiteColor;
  box-shadow: 0 2px 8px $lightestBlackberryColor;
}

.productLink {
  display: inline-block;
  @include regularP2($deepBlueColor);
  padding: 8px 0;

  &:hover {
    @include regularP2($primaryColor);
  }
}

.productLink[data-active="true"] {
  @include mediumP2($primaryColor);
}