.about {
  width: 1216px;
  margin: 0 auto 120px;
  padding-top: 104px;
}

.audience {
  width: 1008px;
  margin: 0 auto 80px;
}

.noSpam {
  width: 1008px;
  margin: 0 auto 80px;
}

.business {
  width: 1008px;
  margin: 0 auto 92px;
}

.targets {
  width: 1008px;
  margin: 0 auto 80px;
}

.support {
  width: 1008px;
  margin: 0 auto 80px;
}

.price {
  width: 1008px;
  margin: 0 auto 120px;
}

.faq {
  width: 1008px;
  margin: 0 auto 88px;
}

