@import 'src/styles/vars';
@import 'src/styles/layers';

.layout {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  z-index: $headerLayer;
  top: 0;
}

.main {
  flex-grow: 1;
}
