@import 'src/styles/vars';
@import 'src/styles/typography';

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 536px;
}

.contentLeft,
.contentRight {
  width: 521px;
}

.contentLeft {
  margin: 112px 0 0 104px;
}

.contentRight {
  position: relative;
}

.title {
  margin-bottom: 24px;
}

.button {
  width: 194px;
  margin-bottom: 32px;
}

.footnote {
  @include regularP4($greyChateauColor);
}

.image {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 558px;
}

