@import "src/styles/vars";
@import "src/styles/typography";

.card {
  padding-bottom: 24px;
}

.title {
  @include mediumP2($deepBlueColor);
  margin-bottom: 4px;
  white-space: pre-line;
}

.subtitle {
  @include regularP3($deepBlueColor);
  white-space: pre-line;
}