@import 'src/styles/vars';
@import 'src/styles/typography';
@import 'src/styles/viewport';

.container {
  background-color: $whiteColor;
  box-shadow: 0 1px 1px $lightestBlackberryColor;
}

.content {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 64px;
  margin: 0 auto;
  padding: 10px 32px;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}
