@import 'src/styles/vars';
@import 'src/styles/typography';

.container {
  box-shadow: 0 1px 1px $lightestBlackberryColor;
}

.content {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 64px;
  padding: 10px 32px;
  margin: 0 auto;
}

.menu {
  margin-left: 40px;
}

.menuItem {
  @include regularP1($pitchBlackColor);
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    @include regularP1($primaryColor);
  }
}

.menuItemActive {
  @include regularP1($primaryColor);
}