@import 'src/styles/vars';
@import 'src/styles/typography';

.button {
  width: 100%;
  padding: 12px 32px;
  background-color: $primaryColor;
  border-radius: 8px;
  text-align: center;

  @include mediumP3($whiteColor);

  &:hover {
    background-color: $darkRaspberryColor;
  }
}

.spinner {
  pointer-events: none;
}