@import "../../../styles/vars";
@import "../../../styles/typography";

.logo {
  display: flex;
  height: 18px;
}

.icon {
  height: 18px;
  fill: $primaryColor;
  margin-right: 8px;
}

.name {
  font-family: $mtsSansRegular;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $primaryColor;
}
