@import "src/styles/vars";
@import "src/styles/typography";

.accordion {
  height: 56px;
  overflow: hidden;
  border-radius: 8px;
  background-color: $whiteSmokeColor;
}

.accordionOpen {
  height: auto;
  overflow: auto;

  .arrow {
    transform: rotate(180deg);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  cursor: pointer;
}

.title {
  width: 100%;
  @include mediumP1($pitchBlackColor);
  @include ellipsisText();
  margin-right: 16px;
}

.arrow {
  width: 14px;
  height: 7px;
  transition: transform .2s;
  fill: $greyHeatherColor;
}

.content {
  padding: 16px 24px 24px 24px;
}