@font-face {
    font-family: 'MTSSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/MTSSans-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'MTSSans-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/MTSSans-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'MTSSans-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/MTSSans-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'MTSSans-UltraWide';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/MTSSans-UltraWide.woff2') format('woff2');
    font-display: swap;
}
