@import '../../node_modules/destyle.css/destyle.css';
@import './vars';

body {
    min-height: 100vh;
    min-width: $mobileWidth;
    margin: 0;
    padding: 0;
}

#__next {
    min-height: 100vh;
}

a {
    text-decoration: none;
}
