$mtsSansRegular: 'MTSSans-Regular', sans-serif;
$mtsSansMedium: 'MTSSans-Medium', sans-serif;
$mtsSansBold: 'MTSSans-Bold', sans-serif;
$mtsSansUltraWide: 'MTSSans-UltraWide', sans-serif;

@mixin main($color) {
    color: $color;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
}

@mixin regular {
    font-weight: 400;
    font-family: $mtsSansRegular;
}

@mixin medium {
    font-weight: 500;
    font-family: $mtsSansMedium;
}

@mixin bold {
    font-weight: 700;
    font-family: $mtsSansBold;
}

@mixin ultraWide {
    font-weight: 900;
    font-family: $mtsSansUltraWide;
}

@mixin h1 {
    font-size: 40px;
    line-height: 48px;
}

@mixin h2 {
    font-size: 24px;
    line-height: 32px;
}

@mixin h3 {
    font-size: 20px;
    line-height: 28px;
}

@mixin p1 {
    font-size: 18px;
    line-height: 28px;
}

@mixin p2 {
    font-size: 16px;
    line-height: 24px;
}

@mixin p3 {
    font-size: 14px;
    line-height: 20px;
}

@mixin p4 {
    font-size: 12px;
    line-height: 16px;
}

@mixin ultraWideH1($color) {
    @include main($color);
    @include ultraWide();
    @include h1();
}

@mixin ultraWideH2($color) {
    @include main($color);
    @include ultraWide();
    @include h2();
}

@mixin ultraWideH3($color) {
    @include main($color);
    @include ultraWide();
    @include h3();
}

@mixin boldH2($color) {
    @include main($color);
    @include bold();
    @include h2();
}

@mixin boldH3($color) {
    @include main($color);
    @include bold();
    @include h3();
}

@mixin mediumH1($color) {
    @include main($color);
    @include medium();
    @include h1();
}

@mixin mediumH2($color) {
    @include main($color);
    @include medium();
    @include h2();
}

@mixin mediumH3($color) {
    @include main($color);
    @include medium();
    @include h3();
}

@mixin mediumP1($color) {
    @include main($color);
    @include medium();
    @include p1();
}

@mixin mediumP2($color) {
    @include main($color);
    @include medium();
    @include p2();
}

@mixin mediumP3($color) {
    @include main($color);
    @include medium();
    @include p3();
}

@mixin mediumP4($color) {
    @include main($color);
    @include medium();
    @include p4();
}

@mixin regularP1($color) {
    @include main($color);
    @include regular();
    @include p1();
}

@mixin regularP2($color) {
    @include main($color);
    @include regular();
    @include p2();
}

@mixin regularP3($color) {
    @include main($color);
    @include regular();
    @include p3();
}

@mixin regularP4($color) {
    @include main($color);
    @include regular();
    @include p4();
}

@mixin ellipsisText() {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
