/* Viewport widths */
$desktopWidth: 1280px;
$tabletWidth: 768px;
$mobileWidth: 320px;

/* Colors */
$primaryColor: #E30611;
$errorColor: #f95721;
$whiteColor: #ffffff;
$whiteThreeColor: #f7f7f7;
$whiteSmokeColor: #f2f3f7;
$lightGrayishBlue: #e9ebf7;
$linkWaterColor: #e2e5eb;
$lightestRaspberryColor: #ffe4e9;
$whiteLilac: #f0f2fa;
$lightBlueGreyColor: #d0d6da;
$greyHeatherColor: #bbc1c7;
$brownGreyColor: #b3b3b3;
$greyChateauColor: #9198a0;
$greyRavenColor: #6e7782;
$brownishGreyColor: #666666;
$lightBlackberryColor: #6384e0;
$normalBlackberryColor: #014FCE;
$darkBlackberryColor: #003DB7;
$lightestBlackberryColor: #e7eafa;
$normalBlueberryColor: #0097fd;
$darkBlueberryColor: #0077db;
$midnightBlueColor: #202d3d;
$deepBlueColor: #001424;
$pitchBlackColor: #000000;
$darkLimeColor: #a6c100;
$lightestYellowColor: #fffde8;
$normalMintColor: #00c19b;
$lightMintColor: #00d9bc;
$lightenMintColor: #c5ede7;
$darkMintColor: #03a17b;
$normalAppleColor: #26CD58;
$darkAppleColor: #04aa42;
$lightPlumColor: #a86ea7;
$darkRaspberryColor: #c51345;
$megaBrightBlue: #d4dbf0;
$ultraBrightBlue: #45b6fc;
$blueButtonNormal: #007cff;
$warningColor: #fac031;
$orangeColor: #f37f19;
$lightOrangeColor: #fa8a64;
$normalOrangeColor: #f95721;
