@import 'src/styles/vars';
@import 'src/styles/typography';
@import 'src/styles/viewport';

.titleH1 {
  @include ultraWide();
  @include h1();
  white-space: pre-line;

  @include mobile {
    @include h2();
  }
}

.titleH2 {
  @include ultraWide();
  @include h2();
  white-space: pre-line;

  @include mobile {
    @include h3();
  }
}

.subtitle {
  @include regular();
  @include p1();
  margin-top: 8px;
  white-space: pre-line;

  @include mobile {
    @include p2();
  }
}

.white {
  @include main($whiteColor);
}

.black {
  @include main($pitchBlackColor);
}
