.about {
  width: 1216px;
  margin: 0 auto 72px;
  padding-top: 40px;
}

.scalePreview {
  width: 1008px;
  margin: 0 auto 80px;
}

.noSpam {
  width: 1008px;
  margin: 0 auto 88px;
}

.a2pPreview {
  width: 1008px;
  margin: 0 auto 80px;
}

.support {
  width: 1008px;
  margin: 0 auto 80px;
}

.price {
  width: 1008px;
  margin: 0 auto 120px;
}

.faq {
  width: 1008px;
  margin: 0 auto 88px;
}
