@import 'src/styles/vars';

.container {
  width: 1000px;
  margin: 0 auto;
}

.title {
  margin-bottom: 48px;
}

.cardsList {
  display: flex;
}

.card {
  width: 280px;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.cardIcon {
  width: 24px;
  height: 24px;
  fill: $pitchBlackColor;
}