@import 'src/styles/vars';

.title {
  margin-bottom: 48px;
}

.cardsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 486px;

  &:nth-child(n + 3) {
    margin-top: 24px;
  }
}

.cardIcon {
  width: 24px;
  height: 24px;
  fill: $deepBlueColor;
}