@import 'src/styles/vars';
@import 'src/styles/typography';
@import 'src/styles/viewport';

.wrapper {
  position: relative;
  padding: 112px 0 0 104px;

  @include mobile {
    padding: 32px 20px 0;
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 536px;
  border-radius: 48px;
  background-color: $whiteSmokeColor;

  @include tablet {
    height: 564px;
  }

  @include mobile {
    height: 596px;
    border-radius: 0;
  }
}

.content {
  position: relative;
  z-index: 1;
}

.imageOutFlow {
  position: absolute;
  top: 0;
  right: 24px;
  width: 702px;
  height: 702px;

  @include tablet {
    top: 164px;
    right: -16px;
    width: 512px;
    height: 512px;
  }

  @include mobile {
    display: none;
  }
}
