@import "src/styles/vars";
@import "src/styles/typography";

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 160px;
  padding: 24px 24px 0 24px;
  border-radius: 16px;
}

.cardWhite {
  background-color: $whiteColor;
  box-shadow: 0 2px 8px $lightestBlackberryColor;
}

.cardGrey {
  background-color: $whiteSmokeColor;
}

.icon {
  margin-bottom: 28px;
}

.flag {
  position: absolute;
  top: 16px;
  left: -4px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: $deepBlueColor;
}

.flagTitle {
  @include mediumP4($whiteColor);
}