@import 'src/styles/vars';
@import 'src/styles/viewport';

.title {
  width: 534px;
  margin-bottom: 24px;

  @include mobile {
    width: 100%;
  }
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  margin: 24px 32px 0 0;

  &:last-child {
    margin-right: 0;
  }
}

.cardIcon {
  width: 24px;
  height: 24px;
  fill: $pitchBlackColor;
}