.title {
  margin-bottom: 24px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentLeft {
  width: 592px;
}

.contentRight {
  width: 384px;
}

.presentation {
  margin-bottom: 24px;
}

.consultation {
  padding-left: 32px;
}